*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, input, button{
    font-family: Arial;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column ;
}
.menu{
    height: 50px ;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.menu-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 55px 8px 0;
    align-items: center;

}
.content-logo{
    height: 56px;
}
.content-search{
    margin-top: 20px;
    width: 100%;
    max-width: 730px;
    padding: 7px 10px 7px 20px;
    font-size: 18px;
    color: black;
    background: transparent;
    border-radius: 25px;
    border: 1px solid rgb(red, green, blue);

}
.content-offer{
    margin-top: 24px;
    font-size: 14px;
    padding: 6px 12px;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: gray(78,78,78);
    padding: 10px;
}
.footer-links a:not(:first-child){
    margin-left: 30px;
}